<div style="max-width: 800px; margin-left: auto; margin-right: auto; font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;">
<h1>Office link schema test</h1>

<h2>Open for viewing (ofv)</h2>
<ul>
<li>
Word (open for viewing)
<a href="ms-word:ofv|u|test.docx"></a>
</li>
<li>
PowerPoint (open for viewing)
<a href="ms-powerpoint:ofv|u|test.pptx"></a>
</li>
<li>
Excel (open for viewing)
<a href="ms-excel:ofv|u|test.xlsx"></a>
</li>
<li>
Project (open for viewing)
<a href="ms-project:ofv|u|test.mpp"></a>
</li>
</ul>
<h2>Open for editing (ofe)</h2>
<ul>
<li>
Word (open for editing)
<a href="ms-word:ofe|u|test.docx"></a>
</li>
<li>
PowerPoint (open for editing)
<a href="ms-powerpoint:ofe|u|test.pptx"></a>
</li>
<li>
Excel (open for editing)
<a href="ms-excel:ofe|u|test.xlsx"></a>
</li>
<li>
Project (open for editing)
<a href="ms-project:ofe|u|test.mpp"></a>
</li>
</ul>
<h2>Notes</h2>
<p>"Open for viewing" behaviour seems to be the same as "open for editing".</p>
<p>If you don't have the application installed, the link does nothing when clicked. It's hard to detect whether the link worked or not (and whether a given protocol is supported or not). Possibly using the onblur event could be an indicator, since the anchor triggers "onblur" when the link works. However it triggers "onblur" in other cases too, such as when another element is clicked on.</p>
<p>If the file does not exist or cannot be accessed, you won't find out until the application has launched and tried to open the file.</p>
<p>In Chrome, you are required to accept a confirmation dialog to open the external application. You may tick a checkbox the first time so you don't see the dialog again. <img src="chrome_confirmation_dialog.png" alt="Chrome confirmation dialog"></img></p>
<p>In Edge, no confirmation dialog is shown, it goes straight to open the application.</p>
<p>In FireFox, you get a confirmation dialog similar to Chrome.</p>
<p>URLs should be absolute. A relative URL can be used but it is interpreted relative to the application opening the URL, and not relative to this document.
</div>
<script>
    var anchors = document.getElementsByTagName('a');
    for(var a of anchors) {
        a.addEventListener('blur', function () {
            console.log('blurred', this);
        });
        a.addEventListener('click', function () {
            console.log('clicked', this);
        });
        
        // For portability, this turns the relative path of the linked file into an absolute path so that the links should work wherever 
        // the files and this document are hosted.
        var portions = a.getAttribute('href').match(/(.*\|u\|)(.*)/);
        var relativePath = portions[2];
        var protocol = portions[1];
        
        var thisFolder = window.location.href;
        if (!thisFolder.endsWith('/')) {
            thisFolder = window.location.href.match(/.*\//);
        }
        
        var href = protocol + thisFolder + relativePath;
        a.setAttribute('href', href);
        a.innerText = href;
    }
</script>


